.profile_info {
    display: flex;
    margin-top: 1rem;
}

.profile_info ul {
    list-style-type: none;
}
.profile_info ul li {
    padding: 0.5rem;
}

.profile_info img {
    width: 174px;
    height: 164px;
}